@page
@{
    ViewData["Title"] = "CatShop";
}

<h1>Sobre Nós - CatShop: Amigos Felinos Primeiro</h1>

<p>Bem-vindo à CatShop, onde o amor pelos gatos é a força motriz que nos impulsiona. Somos mais do que apenas uma loja de artefatos para gatos; somos um lar para todos os amantes de felinos que desejam proporcionar aos seus peludos amigos a melhor experiência de vida possível.</p>

<h2>Nossa História</h2>

<p>CatShop nasceu da paixão por gatos e do desejo de oferecer a esses seres especiais o cuidado e o carinho que merecem. Fundada por um grupo de entusiastas de gatos, nossa jornada começou com a simples missão de tornar a vida dos felinos e de seus tutores mais alegre e confortável.</p>

<h2>O que nos Torna Especiais</h2>

<ul>
    <li><strong>Compromisso com a Qualidade:</strong> Na CatShop, a qualidade é nossa prioridade. Selecionamos a dedo os artefatos que oferecemos, desde brinquedos e acessórios até alimentos e cuidados de saúde. Acreditamos que seus gatos merecem apenas o melhor.</li>

    <li><strong>Comunidade de Amantes de Gatos:</strong> Somos mais do que uma loja; somos uma comunidade de amantes de gatos. Adoramos compartilhar histórias, dicas e conselhos sobre cuidados com gatos. Siga-nos nas redes sociais e junte-se à conversa.</li>

    <li><strong>Sustentabilidade:</strong> Preocupamo-nos com o nosso planeta, e é por isso que buscamos artefatos e práticas sustentáveis sempre que possível. Queremos ajudar a preservar o mundo para as futuras gerações de gatos e humanos.</li>

    <li><strong>Atendimento ao Cliente Amigável:</strong> A satisfação dos nossos clientes é fundamental. Nossa equipe está aqui para ajudá-lo a encontrar o artefato perfeito para o seu gato e responder a todas as suas perguntas.</li>
</ul>

<h2>Missão</h2>

<p>Nossa missão é simples: enriquecer a vida dos gatos e de seus tutores. Acreditamos que gatos felizes fazem tutores felizes, e nosso compromisso é proporcionar artefatos de qualidade que promovam o bem-estar, a saúde e a alegria dos felinos.</p>

<p>Na CatShop, acreditamos que cada ronronar é uma sinfonia de amor, cada brincadeira é uma expressão de felicidade e cada rabinho erguido é um sinal de confiança. Queremos fazer parte desses momentos especiais, tornando a jornada de cuidar de gatos mais gratificante do que nunca.</p>

<p>Obrigado por escolher a CatShop como seu destino para tudo relacionado a gatos. Esperamos continuar a compartilhar nossa paixão e conhecimento com você enquanto você e seu gato embarcam em uma jornada de amor e amizade.</p>

<p>Se tiver alguma dúvida ou desejar mais informações sobre nossa loja e nossa equipe, não hesite em nos contatar. Estamos aqui para ajudar.</p>

<p>Com amor pelos gatos,</p>

<img src="/imagens/gato1.jpeg" />


<address>
    CatShop<br>
    Recife-Pe<br>
    +55 081 30005555
</address>
